# !/bin/bash

export PROJECT=d.u.loader
export NGINX_PORT=8881

export URL_PATH_UPLOADER=/uploader
export URL_PATH_DOWNLOADER=/storage

export URL_HOST=http://HOST
export URL_DOWLOADER=${URL_HOST}${URL_PATH_DOWNLOADER}

export PATH_STORAGE=/storage
export PATH_STORAGE_BUFFER=/storage/buffer
